.b{
  border: 1px solid red;
}

/* control del scroll */
.h-scroll {
  height: 100vh !important;
  overflow-y: scroll  !important;
  overflow-x: scroll  !important;
}

/* chrome */
.h-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: auto;
}

.h-scroll::-webkit-scrollbar-thumb {
  background-color: #4506cb;
  border-radius: 8px;
  overflow: auto;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* mozilla */
.h-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4506cb white;
}
/*fin control del scroll */